/* Media queries styles */

@media(max-width:1040px){

    .logo img {
        width: 75px;
    }

    .logo_container {
        background-color: var(--darkBackground);
        position: fixed;
        top: 0;
        z-index: 1;
    }

    .hero_title {
        font-size: var(--text-lg);
        line-height: 74px;
    }

    .hamburger {
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 2;
    }

    .hamburger.active .line:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .line:nth-child(1){
        transform:translateY(12px)rotate(45deg);
    }

    .hamburger.active .line:nth-child(3)
    {
        transform:translateY(-8px)rotate(-45deg);
    }

    .line {
        display: block
    }

    .menu {
        top: -200px;
        transition: top 0.3s;
        flex-direction: column;
        align-items: center;
        position: fixed;
    }

    .menu.active {
        top: 160px;
    }

    .services_offers {
        flex-flow: column;
    }

    .about_history_points {
        flex-flow: column;
    }

    .card {
        width: 100%;
    }

    .about_history {
        height: 100%;
    }

    .about_history p {
        width: 100%;
    }

    .btn {
        margin: 20px
    }

    .testymonials_items {
        padding: 0;
    }

    .testymonials_card_body {
        width: 100%;
    }
}

@media(max-width:600px){
    .menu.active { 
        top: 92px;
    }

    input {
        width: 100%;
        margin: 10px 0;
    }

    .title {
        font-size: var(--text-md);
        padding: 20px;
    }

    section {
        padding: 0;
    }

    .logo_container {
        padding-top: 20px;
    }

    .logo_description_title{
        font-size: var(--text-md)
    }

    .logo_description_subtitle{
        font-size: var(--text-normal);
        letter-spacing: 2px;
        top: -13px;
    }

    .logo{
        padding: 7px;
    }

    .logo img {
        width: 48px;
    }

    .contact_items {
        padding: 30px;
        flex-direction: column;
    }

    footer {
        font-size: var(--text-xsm);
    }

    .services_offers {
        margin: 0;
    }

    .card img {
        border-radius: 10px;
    }
}

@media(max-width:300px){
    .logo img {
        width: 30px;
    }

    .logo_description_subtitle {
        font-size: var(--text-xxsm);
    }

    .logo_description_title {
        font-size: var(--text-sm);
    }

}